<launch>
  <node name="line_extractor" pkg="laser_line_extraction" type="line_extraction_node" output="screen">
  <!-- <node name="line_extractor" pkg="laser_line_extraction" type="line_extraction_node" output="screen" launch-prefix="nemiver"> -->
    <!-- <param name="~frame_id" value="laser" /> -->
    <!-- <param name="~scan_topic" value="scan" /> -->
    <param name="~frame_id" value="front_laser" />
    <param name="~scan_topic" value="karisagiprobot/frontLaser" />
    <param name="~frequency" value="25.0" />
    <param name="~publish_markers" value="true" />
    <param name="~bearing_std_dev" value="1e-5" />
    <param name="~range_std_dev" value="0.012" />
    <param name="~least_sq_angle_thresh" value="0.0001" />
    <param name="~least_sq_radius_thresh" value="0.0001" />
    <param name="~max_line_gap" value="0.5" />
    <param name="~min_line_length" value="0.7" />
    <param name="~min_range" value="0.1" />
    <param name="~max_range" value="5.0" />
    <param name="~min_split_dist" value="0.04" />
    <param name="~outlier_dist" value="0.06" />
    <param name="~min_line_points" value="10" />
  </node>
  
  <arg name="save_obj_file" default = "$(find hypermap)/config/result_obj.txt" />
  <node name="hypermap_node" pkg="hypermap" type="hypermap_node" output="screen">
    <param name="save_obj_file"                  value="$(arg save_obj_file)" />
  </node>
</launch>

